#Services{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0px; !important;
}
#work{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#work img{
  width: 100%;
}
#home span{
  font-size: 4rem !important;
}
#home h2{
  font-size: 1.2rem !important;
}
.h-secondary {
  font-size: 8vw !important;
  padding: 12px;
  font-family: 'Bree Serif', serif;
}

#Services img {
    width: 100%;
}
.slide {
    margin: 10px 5px;
}
.slide-track {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}
